.sharebutton {
    border: 2px solid black;
    border-radius: 100px;
    padding: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
    width: 100%;
}

.sharebutton:hover {
    background-color: black;
    border: 6px solid coral;
    border-radius: 5px;
    font-size: 12px;
    transition: all 0.2s ease;
    width: 32%;
}

#long-textbox {
    border: 2px solid black;
    border-radius: 10000000px;
    width: 99%;
    height: 150px;
}

#long-textbox:hover {
    border-radius: 100px;
    background-color: black;
    width: 23%;
    height: 21px;

}

body {
    background-color: black;
    font-family: 'Google Sans', 'Roboto', sans-serif;
}